<div class="show_product container"> 
  <h2>Product Name:</h2><h1><%= @product.title %></h1>
  <h2>Product Description:</h2><h1><%= @product.description %></h1>
  <h2>Product capacity:</h2><h1><%= @product.capacity %></h1>
  <h2>Product Status:</h2><h1><%= @product.status %></h1>
  <h2>Product active status:</h2><h1><%= @product.is_active %></h1>
</div>
