<div class="show_product container"> 
  <h2>Employee Name:</h2><h1><%= @employee.emp_first_name + @employee.emp_last_name %></h1>
  <h2>Employee email:</h2><h1><%= @employee.email %></h1>
  <h2>Employee age:</h2><h1><%= @employee.age %></h1>
  <h2>Employee orders:</h2><h1><%= @employee.no_of_order %></h1>
  <h2>Employee Availability:</h2><h1><%= @employee.full_time_available %></h1>
  <h2>Employee Salary</h2><h1><%= @employee.salary %></h1>
</div>
  