<h1 class="add_text"> Add a faculty</h1>
<% if flash[:errors] %>
  <div class="valid-errors alert alert-danger" role="alert">
    <h2>Errors Faced while Adding a Faculty</h2>
    <% flash[:errors].each do |error|%>
      <li><%= error %></li> 
    <%end %>
  </div>
<% end %>
<div class="container create_form">
  <%= form_for @faculty, remote: false  do |f| %>
    <h2><%= f.label :fac_first_name %></h2>
    <p><%= f.text_field :fac_first_name %></p><br>
    <h2><%= f.label :fac_last_name%></h2>
    <p><%= f.text_field :fac_last_name %></h2><br>
    <h2><%= f.label :phone_number%></h2>
    <p><%= f.text_field :phone_number %></h2><br>
    <h2><%= f.label :email%></h2>
    <p><%= f.text_field :email %></h2><br>
    <h2><%= f.label :date %></h2>
    <p><%= f.date_select :fac_dob, start_year: 1800, end_year: Time.now.year %></h2> <br>
    <h2><%= f.label :designation%></h2>
    <p><%= f.text_field :designation %></h2> <br>  
    <h2><%= f.submit %></h2>
  <% end %>
</div>