<h1 class="add_text"> Edit a Author </h1>
<div class="container product_edit">
	<%= form_for @author do |f| %>
		<h2><%= f.label :first_name %></h2>
    <p><%= f.text_field :first_name %></p><br>
    <h2><%= f.label :last_name%></h2>
    <p><%= f.text_field :last_name %></h2><br>
    <h2><%= f.label :date %></h2>
    <p><%= f.date_select :dob, start_year: 1800, end_year: Time.now.year %></h2> <br>
    <h2><%= f.label :email %></h2>
    <p><%= f.text_field :email %></h2> <br>
    <p><%= f.submit %></h2>
  <% end %>
</div>
