<!doctype html>
<html lang="en">    

  <body>
    <div class="products_title"> 
      <h1>
        Our Products (CRUD)
      </h1>
    </div> 
    <div class="add"> <%= link_to 'Add a product', product_new_path %></div>
    <div class="our_products"> 
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Team Size</th>
            <th scope="col">Charges</th>
            <th scope="col">Show</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <% @products.each do |product| %>
          <tr>
            <td><p><%= product.id %></p></td>
            <td><p><%= product.product_name %></p></td>
            <td><p><%= product.description %></p></td>
            <td><p><%= product.team_size %></p></td>
            <td><p><%= product.charges %> $/Hr</p></td>
            <td><%= button_to 'show', product_show_path(product), method: "get" %></td>
            <td><%= button_to 'edit a product', product_edit_path(product.id), method: "get" %></td>
            <td><%= button_to 'delete a product', destroy_me_path(product), method: "delete" %></td>  
          </tr>
        <% end %>

      </table>
    </div>
  </body>

</html>
 