<div class="show_product container"> 
  <h2>Product Name:</h2><h1><%= @product.product_name %></h1>
  <h2>Product Description:</h2><h1><%= @product.description %></h1>
  <h2>Product team size:</h2><h1><%= @product.team_size %></h1>
  <h2>Product charges:</h2><h1><%= @product.charges %></h1>
  <h2>Product id:</h2><h1><%= @product.id %></h1>
</div>


